h1 {
    font-size: 36px;
    line-height: 1.5;
}

h1 .icon {
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    margin-right: 0.5em;
}

h1 .text {
    display: inline-block;
    vertical-align: middle;
}

td {
    overflow-wrap: anywhere;
}

td:last-child {
    min-width: 10em;
}